<!DOCTYPE html>
<html>
<head>
{% load static %}

<!-- Static files serving -->
<link rel="stylesheet" type="text/css" href="{% static 'search/css/style.css' %}">
<script src="{% static 'search/js/filter.js' %}"></script>

<title> {{ view_title }} </title>
<link rel="shortcut icon" type="image/png" href="{% static 'search/img/favicon.png' %}"/>

<!-- Bootstrap files loading --> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

    
<body>
{% if pokemon_info %}


<div class="container-fluid" style="padding: 150px;">
<div class="jumbotron">
<button class="btn btn-primary" onclick="location.href='../'" type="button">Volver a Busqueda</button>
<h1 style="padding:20px;"> {{ pokemon_info.name }} </h1>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
                <div class="row center-block" style="justify-content: center;">
                {% if pokemon_info.img != "../media/images/" %}
                <img src= {{ pokemon_info.img }} class="img-fluid">  </img>
                {% else %}
                <img src = {% static 'search/img/pokemonDefaultImage.png' %} class="img-fluid>" style="max-width:700px;" </img>
                {% endif %}
                </div>
				</div>
                <div class="vl"> </div>
				<div class="col-md-6" style="padding: 20px;">
                <table id="detailTable" class="table">
                {% if detailed_information %}
                            {% for key, value in detailed_information.items %}

                            <tr>
                            <td><b> {{ key }} </b></td>
                            <td> {{ value }} </td>

                            </tr>

                            {% endfor %}
                </table>
                {% endif %}
				</div>
			</div>
		</div>
	</div>
    </div>
</div>

{% endif %}





</body>
</html> 